* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(255, 246, 234);
    margin: 2em;
}
/*The main nagivation bar*/
.header {
    display: flex;
    background-color: rgb(255, 239, 227);
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-bottom: 25px;
    
}
/* Left side of nav bar*/
.box1, .box2, .box3 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(224, 255, 255);
    height: 60px;
    width: 80px;
    margin-right: auto;
    margin-left: 25px;
    text-align: center;
    border-radius: 30%;
}
/*Title of nav bar*/
.title {
    display: flex;
    align-items: center;
    height: auto;
    width: auto;
    background-color: rgb(224, 255, 255);
    font-size: xx-large;
}
/*Right side of nav bar*/
.box4, .box5, .box6 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(224, 255, 255);
    height: 60px;
    width: 80px;
    margin-left: auto;
    margin-right: 25px;
    text-align: center;
    border-radius: 30%;
/*link attributes*/
}
a:link {
    text-decoration: none;
}
a:visited {
    color: blue;
}
a:hover {
    color:sandybrown ;
}
/*flex container of content on main page*/
.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 249, 226);
    margin: 50px 0px;
}
/*text inside of flex container on main page*/
.content .text {

    height: auto;
    width: 700px;
    font-weight: 900;
    font-size: 1.2em;
    margin: 15px;
    background-color: rgb(255, 244, 221);
    /*border: 1px solid black;*/
}
/*underwater image on main page*/
.content img {
    width: 700px;
    height: auto;
    padding: 10px;
}

.maincontents {
display: flex;
justify-content: center;
flex-wrap: wrap;
margin: 25px;

}

.box7 img {
    
    width: 600px;
    height: 400px;
    background-color: white;
    border: 1px solid black;
}

.box8 {
    padding: 10px;
    width: 200px;
    height: auto;
    background-color: white;
    border: 1px solid black;
    }

.box9 {
    flex: 3;
    height: 200px;
    background-color: white;
    border: 1px solid black;
        }
.titletext {
    text-align: center;
    font-size: 4em;
    margin-bottom: 35px;
}
.text {
    text-align: center;
    font-size: 3em;
    background-color: rgb(255, 255, 255);
}
